<div class="container-fluid" id="my-container2">
    <h3 class="page-headers">Add Employee</h3>
    
    <%= render 'form', employee: @employee %>
    
    <%= link_to 'Back', employees_path %>
</div>
